form {
    font-size: 1.5em;
}
input, textarea {
    font-size: 0.75em;
}
#form {
    max-width: 80%;
}

#form_1 {
    margin-top: 10vw;
}

.form_2 input[type=text], .form_2 input [type = email], #form_2 input[type=date]{
    font-size: 2vw;
    
}